@mixin font-face-mixin($font-name, $dir, $weight: normal, $style: normal)
  @font-face
    font-family: $font-name
    src: url("../fonts/#{$dir}/#{$font-name}.ttf") format('ttf')
    font-weight: $weight
    font-style: $style

@include font-face-mixin('Roboto-Black', 'Roboto', 400, normal)