include ../helpers/mixin

block variables

doctype html
html(lang="ru-RU")
    head
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name='keywords' content="")
        link(rel="stylesheet" type="text/css" href="static/css/styles.css")
    body
        .wrapper
            //include ../modules/header/header
        .content
            block content
            //include ../modules/footer/footer

        script(src="static/js/main.js")
        //script(src="static/js/vendor/libs.js")
        block script
